*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

/*
  Alignment
*/

.f-left {
  float: left;
}

.f-right {
  float: right;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}