.navigation {
  width: 100%;

  &__menu {
    display: flex;
    justify-content: space-around;
  }

  &__menu__item {
    list-style-type: none;
    display: inline-block;
  }

  &__menu__link {
    padding: 10px;
  }
}